@import '~node_modules/modern-normalize/modern-normalize.css';

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Montserrat, sans-serif;
  color: $main-color;
  letter-spacing: 0.04em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  list-style-type: none;
  padding: 0;
}

.link {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  padding: 0 15px;

  margin: 0 auto;

  // mobile
  @media screen and (min-width: 480px) {
    width: 480px;
  }

  // tablet
  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 0 32px; 
  }

  // desktop
  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding: 0 16px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

