ul {
  list-style: none;
  padding: 0;
}
.customer-reviews .container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  min-width: 320px;
  max-width: 480px;
  padding-bottom: 393px;
  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  background-image: url('../images/customer-reviews/mobile/img_fone@1x.png');
}
// заглушка
.test {
  background-color: aqua;
  min-width: 320px;
  max-width: 1200px;
  height: 200px;
}
//
.gallery_img {
  display: block;
  margin: 0 auto;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    transform: translateY(-32px);
    margin-bottom: 48px;
  }

  @media screen and (min-width: 768px) {
    // transform: translateY(-144px);
    // margin-bottom: 48px;
  }
}
.customers {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // justify-content: space-between;
  // align-items: center;
}

.customer_img {
  display: block;
  margin: 0 auto;
  margin-bottom: 32px;
}
.customer_review {
  padding: 35px;
  background-color: $background-color;
  border-radius: 10px;
  border: none;
  margin-bottom: 32px;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 2.58;

  text-align: center;
}
.customer_name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.86;
  margin-bottom: 12px;

  text-align: center;
  color: $secondary-color;
}
.customer_dots {
  display: block;
  margin: 0 auto;
  // margin-bottom: 393px;
}
