.customer-reviews .container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  max-width: 320px;
  // padding-top: 178px;
  padding-bottom: 393px;

  background-color: red;
}
.gallery {
  transform: translateY(-32px);
  margin-bottom: 80px;
}
