    .hero{
        background-color: $background-color;
        display: block;
        overflow: hidden;
        background-image: url(../images/krapki.svg);
        background-repeat: no-repeat;
        background-position: bottom center;

    }
    .hero-title{
        margin-top: 21px;

        &__text{
            width: 367px;
            height: 144px;

            margin-bottom: 28px;

            font-family: 'Seymour One';
            font-style: normal;
            font-weight: 400;
            font-size: 38px;
            line-height: 48px;
            letter-spacing: 0.04em;
            text-transform: uppercase;

        }
        &__button{
            width: 134px;
            height: 42px;

            align-items: center;
            text-align: center;

            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 18px;
            cursor: pointer;

            border: 2px solid $button-color;
            border-radius: 10px;
            background-color: $background-color;
        }
        &__href{
            margin-left: 34px;

            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;

            align-items: center;
            text-align: center  ;
            text-decoration-line: underline;
            color: $button-color;
        }
    }


    .hero-icecream{
        margin-top: 42px;
        margin-bottom: 65px;

        display: inline-flex;
        justify-items: center;

        &__img{
            width: 225px;
            height: 225px;
        }
        &__text{
            width: 200px;
            height: 80px;

            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            margin-top: 15%;
            margin-left: 16px;
        
        }
        &__arrow{
            fill: $main-color;

            margin-top: 24px;

            cursor: pointer;
        }
    }

    .hero-mainice{
        position: absolute;
        bottom: 0;
        right: 0;
        margin-right: 92px;
        &__tablet{
            display: none;
        }
        &__mobile{
            display: none;
        }
    }

    .hero-sub{
        display: block;
        margin-top: 22px;
        padding-right: 16px;
        list-style-type: none;
        top: 0;
        right: 0;
        position: absolute;

        &__number{
            padding-bottom: 4px;

            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 900;
            font-size: 46px;
            line-height: 56px;
            
            text-align: right;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            
            color: $secondary-color;
        }

        &__place{
            padding-bottom: 16px;

            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            
            text-align: right;
            
            color: $main-color
        }

    }



