$main-color: #fcfcfc;
$secondary-color: #131313;
$button-color: #f8d24e;
$button-hover-color: #0a8817;
$disabled-button-color: #ababab;
$background-color: #84a178;
$black-color: #000000;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
