@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  font-family: Montserrat, sans-serif;
  color: #fcfcfc;
  letter-spacing: 0.04em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  list-style-type: none;
  padding: 0;
}

.link {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.test {
  display: block;
  text-align: center;
  justify-content: center;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .locations-franchise {
    display: flex;
    justify-content: center;
  }
}
.button-location {
  padding: 12px 42px;
  display: flex;
  align-items: center;
  background-color: #f8d24e;
  color: #131313;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  border-style: none;
}

.button-location:hover {
  background-color: #0a8817;
}

.button-location:focus {
  color: #ffffff;
}

.button-location:disabled {
  background-color: #ababab;
}

.button-franchise {
  padding: 12px 55px;
  display: flex;
  align-items: center;
  background-color: #84a178;
  color: #131313;
  border-radius: 10px;
  border: 2px solid;
  border-color: #f8d24e;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
}

.button-franchise:hover,
.button-franchise:focus {
  border-color: #0a8817;
}

.button-franchise:disabled {
  border-color: #ababab;
}

.overlay {
  /* Скрываем подложку  */
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  transition: 0.3s all;
}

.modal-footer {
  opacity: 0;
  visibility: hidden;
  width: 100vw;
  max-width: 280px;
  overflow-y: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 28px;
  background: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;
}
.modal-footer__cross {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 12px;
  right: 12px;
  fill: #131313;
  cursor: pointer;
  border: none;
  background-color: #fcfcfc;
}
@media screen and (min-width: 768px) {
  .modal-footer__cross {
    width: 24px;
    height: 24px;
  }
}
.modal-footer__title {
  margin-bottom: 22px;
  font-family: "Seymour One";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #131313;
}
@media screen and (min-width: 768px) {
  .modal-footer__title {
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    line-height: 1.4;
    width: 322px;
    align-items: center;
    justify-content: center;
  }
}
.modal-footer__text {
  margin-bottom: 22px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #131313;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .modal-footer__text {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .modal-footer {
    max-width: 568px;
    padding: 32px 60px;
  }
}
.form-franchise__input {
  padding: 8px 12px 7px 12px;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  background: rgba(248, 210, 78, 0.1);
  color: #131313;
  border: 1px solid #0a8817;
  border-radius: 10px;
  margin-bottom: 12px;
}

@media screen and (min-width: 768px) {
  .form-franchise {
    align-items: center;
    margin: auto;
    max-width: 368px;
  }
}
.textarea-franchise {
  padding: 8px 12px 7px 12px;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  background: rgba(248, 210, 78, 0.1);
  color: #131313;
  border: 1px solid #0a8817;
  border-radius: 10px;
  margin-bottom: 24px;
  resize: none;
}

.modal-map {
  margin-bottom: 24px;
}

.open-map__link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  color: #131313;
  padding: 12px 34px;
  margin-bottom: 0;
  background: #f8d24e;
  border-radius: 10px;
  border: none;
}

.button-submit {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  color: #131313;
  padding: 12px 34px;
  margin-bottom: 0;
  background: #f8d24e;
  border-radius: 10px;
  border: none;
}

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

ul {
  padding: 0;
}

.how-itsmade {
  background-color: #84a178;
}
@media screen and (min-width: 0px) {
  .how-itsmade {
    padding-top: 61px;
    padding-bottom: 65px;
  }
}
@media screen and (min-width: 768px) {
  .how-itsmade {
    padding-top: 60px;
    padding-bottom: 180px;
  }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .how-itsmade__title {
    max-width: 200px;
    margin-bottom: 372px;
    margin-right: auto;
    margin-left: auto;
    font-family: "Seymour One", sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.26667;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fcfcfc;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .how-itsmade__title {
    margin-bottom: 72px;
    font-family: "Seymour One", sans-serif;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.2647;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #fcfcfc;
  }
}
@media screen and (min-width: 1200px) {
  .how-itsmade__title {
    margin-bottom: 82px;
    font-family: "Seymour One", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.25;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #fcfcfc;
  }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .how-itsmade__label {
    margin-bottom: 12px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2222;
    text-align: center;
    text-transform: uppercase;
    color: #fcfcfc;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .how-itsmade__label {
    margin-bottom: 12px;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 22px;
    line-height: 1.2272;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fcfcfc;
  }
}
@media screen and (min-width: 1200px) {
  .how-itsmade__label {
    margin-bottom: 25px;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 30px;
    line-height: 1.23333;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fcfcfc;
  }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .how-itsmade__list {
    list-style: none;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .how-itsmade__list {
    list-style: none;
    margin-left: 385px;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .how-itsmade__list {
    list-style: none;
    margin-left: 600px;
    margin-bottom: 54px;
  }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .how-itsmade__item {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 0px) {
  .how-itsmade__item {
    margin-bottom: 4px;
  }
}
@media screen and (min-width: 768px) {
  .how-itsmade__item {
    margin-bottom: 8px;
  }
}

.how-itsmade__item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .how-itsmade__text {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 176%;
    letter-spacing: 0.04em;
    color: #fcfcfc;
  }
}

.how-itsmade__text--lineheight {
  line-height: 194%;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .how-itsmade__text--styleone {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 176%;
    text-align: center;
    letter-spacing: 0.04em;
    color: #fcfcfc;
  }
}
@media screen and (min-width: 1200px) {
  .how-itsmade__text--styleone {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 176%;
    letter-spacing: 0.04em;
    color: #fcfcfc;
  }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .how-itsmade__text--styletwo {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 162%;
    text-align: center;
    color: #fcfcfc;
  }
}
@media screen and (min-width: 1200px) {
  .how-itsmade__text--styletwo {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 194%;
    letter-spacing: 0.04em;
    color: #fcfcfc;
  }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .how-itsmade__item--size {
    max-width: 220px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .how-itsmade__item--size {
    max-width: 334px;
  }
}
@media screen and (min-width: 1200px) {
  .how-itsmade__item--size {
    max-width: 463px;
  }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .how-itsmade__item--last {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .how-itsmade__item--last {
    max-width: 336px;
  }
}

.how-itsmade__button {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-style: none;
  display: flex;
  align-items: center;
  padding-left: 34px;
  padding-right: 35px;
  padding-top: 12px;
  padding-bottom: 12px;
  cursor: pointer;
  background: #f8d24e;
  border-radius: 10px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .how-itsmade__button {
    margin-left: 385px;
  }
}
@media screen and (min-width: 1200px) {
  .how-itsmade__button {
    margin-left: 600px;
  }
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .how-itsmade__button {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .how-itsmade__button {
    margin-bottom: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .how-itsmade__button {
    margin-bottom: 146px;
  }
}

.how-itsmade__button:hover, .how-itsmade__button:focus {
  background-color: #0a8817;
}

.how-itsmade__button:disabled {
  background-color: #ababab;
}

.how-itsmade__span {
  margin-right: 4px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #000000;
}

.how-itsmade__button .how-itsmade__span {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.how-itsmade__button .how-itsmade__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.how-itsmade__button:focus .how-itsmade__span {
  color: #fcfcfc;
}

.how-itsmade__button:focus .how-itsmade__icon {
  fill: #fcfcfc;
}

.how-itsmade__icon {
  width: 5.74px;
  height: 9.98px;
}

.how-itsmade__information {
  list-style: none;
}
@media screen and (min-width: 768px) {
  .how-itsmade__information {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .how-itsmade__information {
    gap: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .how-itsmade__information {
    gap: 32px;
  }
}

.how-itsmade__svg {
  padding: 7px;
  border-radius: 50%;
  background-color: #f8d24e;
  width: 50px;
  height: 50px;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .how-itsmade__svg {
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .how-itsmade__svg {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .how-itsmade__svg {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .how-itsmade__svg--mobile {
    margin-bottom: 22px;
  }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .how-itsmade__weight {
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .how-itsmade__weight {
    margin-bottom: 12px;
  }
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .how-itsmade__weight {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2222;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fcfcfc;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .how-itsmade__weight {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.22916;
    text-align: center;
    letter-spacing: 0.04em;
    color: #fcfcfc;
  }
}
@media screen and (min-width: 1200px) {
  .how-itsmade__weight {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 1.22414;
    text-align: center;
    letter-spacing: 0.04em;
    color: #fcfcfc;
  }
}

@media screen and (min-width: 768px) {
  .how-itsmade__weight--upper {
    text-transform: uppercase;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .how-itsmade__desc {
    max-width: 152px;
  }
}
@media screen and (min-width: 1200px) {
  .how-itsmade__desc {
    max-width: 368px;
  }
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .how-itsmade__desc {
    max-width: 230px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 170%;
    text-align: center;
    color: #fcfcfc;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .how-itsmade__desc {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 174%;
    text-align: center;
    color: #fcfcfc;
  }
}
@media screen and (min-width: 1200px) {
  .how-itsmade__desc {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 176%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #fcfcfc;
  }
}

.how-itsmade__position {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .how-itsmade__position--mobileone {
    margin-bottom: 28px;
  }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .how-itsmade__position--mobiletwo {
    margin-bottom: 22px;
  }
}

.how-itsmade__img {
  position: absolute;
}
@media screen and (min-width: 0px) and (max-width: 479px) {
  .how-itsmade__img {
    left: calc(50% - 140px);
    transform: translateY(-440%);
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .how-itsmade__img {
    left: 80px;
    transform: translateY(-440%);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .how-itsmade__img {
    left: 32px;
    top: 0;
    transform: translateY(-200%);
  }
}
@media screen and (min-width: 1200px) {
  .how-itsmade__img {
    left: 16px;
    top: 210px;
    transform: translateY(-200%);
  }
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .how-itsmade__img {
    width: 280px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .how-itsmade__img {
    width: 330px;
  }
}
@media screen and (min-width: 1200px) {
  .how-itsmade__img {
    width: 491px;
  }
}

.how-itsmade__group {
  position: relative;
}

.modal {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  /*position: absolute;*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #fcfcfc;
  border-radius: 10px;
  border: 2px solid #f8d24e;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .modal {
    min-width: 280px;
    min-height: 459px;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    min-width: 568px;
    min-height: 449px;
  }
}

.modal-button {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
  margin-right: 12px;
  cursor: pointer;
  background-color: #fcfcfc;
  border: 1px solid #fcfcfc;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .modal-button {
    width: 26px;
    height: 26px;
  }
}
@media screen and (min-width: 768px) {
  .modal-button {
    width: 30px;
    height: 30px;
  }
}

.modal-button__icon {
  fill: #131313;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .modal-button__icon {
    width: 20px;
    height: 20px;
  }
}
@media screen and (min-width: 768px) {
  .modal-button__icon {
    width: 24px;
    height: 24px;
  }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .modal-title {
    margin-top: 28px;
    margin-bottom: 20px;
    font-family: "Seymour One", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #131313;
  }
}
@media screen and (min-width: 768px) {
  .modal-title {
    margin-top: 32px;
    margin-bottom: 32px;
    font-family: "Seymour One", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
    color: #131313;
  }
}

.modal-frame {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .modal-frame {
    margin-bottom: 20px;
    width: 224px;
    height: 199px;
  }
}
@media screen and (min-width: 768px) {
  .modal-frame {
    margin-bottom: 32px;
    width: 448px;
    height: 205px;
  }
}

.modal-text {
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .modal-text {
    max-width: 224px;
    margin-bottom: 28px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #131313;
  }
}
@media screen and (min-width: 768px) {
  .modal-text {
    max-width: 448px;
    margin-bottom: 32px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #131313;
  }
}

.active {
  opacity: 1;
  visibility: visible;
  z-index: 4;
}

.product {
  padding-top: 60px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/product/background_mobile.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .product {
    background-image: url(../images/product/background_mobile2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .product {
    width: 100%;
    background-image: url(../images/product/background_tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .product {
    background-image: url(../images/product/background_tablet2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .product {
    width: 100%;
    background-image: url(../images/product/background_desktop.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .product {
    background-image: url(../images/product/background_desktop2x.jpg);
  }
}
.product__text {
  margin-bottom: 12px;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  text-transform: uppercase;
  color: #131313;
}
@media screen and (min-width: 768px) {
  .product__text {
    font-size: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .product__text {
    font-size: 30px;
  }
}
.product__pretitle {
  margin-bottom: 40px;
  font-family: "Seymour One";
  font-size: 30px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
}
@media screen and (min-width: 768px) {
  .product__pretitle {
    font-size: 34px;
  }
}
@media screen and (min-width: 1200px) {
  .product__pretitle {
    font-size: 36px;
    letter-spacing: 0.06em;
  }
}

.prodcard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 148px;
  gap: 160px;
  padding: 0 0 60px;
}
@media screen and (min-width: 768px) {
  .prodcard {
    flex-direction: row;
    gap: 30px;
    margin-top: 168px;
  }
}
@media screen and (min-width: 1200px) {
  .prodcard {
    margin-top: 250px;
  }
}
.prodcard__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 280px;
  height: 420px;
  background: #aec6a5;
  border-radius: 24px;
}
@media screen and (min-width: 768px) {
  .prodcard__item {
    width: 224px;
    height: 428px;
  }
}
@media screen and (min-width: 1200px) {
  .prodcard__item {
    width: 370px;
    height: 536px;
  }
}
.prodcard__title {
  margin-top: 123px;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
}
@media screen and (min-width: 1200px) {
  .prodcard__title {
    font-size: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .prodcard__title {
    margin-top: 180px;
    font-size: 30px;
  }
}
.prodcard__text {
  margin: 0 40px 30px;
  font-size: 14px;
  line-height: 1.76;
  text-align: center;
  letter-spacing: 0.04em;
  color: #131313;
}
@media screen and (min-width: 768px) {
  .prodcard__text {
    margin: 0 20px 30px;
  }
}
@media screen and (min-width: 1200px) {
  .prodcard__text {
    font-size: 16px;
  }
}
.prodcard__svg {
  display: inline-block;
  padding: 10px 10px;
  border: transparent;
  background-color: transparent;
  cursor: pointer;
}
.prodcard__iconarrow {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
}

.item__icecream::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right: 50%;
  left: 0;
  bottom: 0;
  transform: translate(20%, -50%);
  width: 200px;
  height: 211px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  background-image: url(../images/product/icecream-mobile.png);
  background: gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #d9d9d9;
  box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
  border-radius: 100px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .item__icecream::before {
    background-image: url(../images/product/icecream-mobile2x.png);
  }
}
@media screen and (min-width: 768px) {
  .item__icecream::before {
    transform: translate(6%, -50%);
  }
}
@media screen and (min-width: 1200px) {
  .item__icecream::before {
    width: 302px;
    height: 318px;
    transform: translate(12%, -50%);
    background-image: url(../images/product/icecream-desktop.png);
    border-radius: 150px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .item__icecream::before {
    background-image: url(../images/product/icecream-desktop2x.png);
  }
}

.item__icecoffee {
  background: #efd478;
}
.item__icecoffee::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right: 50%;
  left: 0;
  bottom: 0;
  transform: translate(20%, -50%);
  width: 200px;
  height: 211px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  background-image: url(../images/product/icecoffee-mobile.png);
  background: gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #d9d9d9;
  box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
  border-radius: 100px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .item__icecoffee::before {
    background-image: url(../images/product/icecoffee-mobile2x.png);
  }
}
@media screen and (min-width: 768px) {
  .item__icecoffee::before {
    transform: translate(6%, -50%);
  }
}
@media screen and (min-width: 1200px) {
  .item__icecoffee::before {
    width: 302px;
    height: 318px;
    transform: translate(12%, -50%);
    background-image: url(../images/product/icecoffee-desktop.png);
    border-radius: 150px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .item__icecoffee::before {
    background-image: url(../images/product/icecoffee-desktop2x.png);
  }
}

.item__milkshakes {
  background: #d6936d;
}
.item__milkshakes::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right: 50%;
  left: 0;
  bottom: 0;
  transform: translate(20%, -50%);
  width: 200px;
  height: 211px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  background-image: url(../images/product/milkshakes-mobile.png);
  background: gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #d9d9d9;
  box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .item__milkshakes::before {
    background-image: url(../images/product/milkshakes-mobile2x.png);
  }
}
@media screen and (min-width: 768px) {
  .item__milkshakes::before {
    transform: translate(6%, -50%);
  }
}
@media screen and (min-width: 1200px) {
  .item__milkshakes::before {
    width: 302px;
    height: 318px;
    transform: translate(12%, -50%);
    background-image: url(../images/product/milkshakes-desktop.png);
    border-radius: 150px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .item__milkshakes::before {
    background-image: url(../images/product/milkshakes-desktop2x.png);
  }
}

.footer {
  width: 100%;
  background: #84a178;
  position: relative;
}

@media screen and (max-width: 767px) {
  .footer--container {
    padding: 0 20px;
  }
}
@media screen and (min-width: 768px) {
  .footer--container {
    padding: 0 33px;
  }
}
@media screen and (min-width: 1200px) {
  .footer--container {
    padding: 0 15px;
  }
}

.footer__slogan {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2222222222;
  text-transform: uppercase;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .footer__slogan {
    font-size: 26px;
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__slogan {
    font-size: 30px;
    font-weight: 400;
  }
}

.footer__text {
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 1.2058823529;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .footer__text {
    margin-right: 100px;
  }
}
@media screen and (min-width: 768px) {
  .footer__text {
    font-size: 48px;
    letter-spacing: 0.06em;
    line-height: 1.2291666667;
  }
}
@media screen and (min-width: 1200px) {
  .footer__text {
    font-size: 58px;
  }
}

@media screen and (max-width: 767px) {
  .footer__tittle {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__tittle {
    width: 352px;
    margin-bottom: 32px;
  }
}

.footer__list {
  display: flex;
  justify-content: end;
}

@media screen and (max-width: 767px) {
  .footer__item:not(:first-child) {
    margin-left: 20px;
  }
}
@media screen and (min-width: 768px) {
  .footer__item:not(:first-child) {
    margin-left: 30px;
  }
}

.footer__icon {
  fill: #84a178;
  transition: fill 250ms linear;
}
.footer__icon:focus, .footer__icon:hover {
  fill: #fcfcfc;
}

.footer__subject {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.8333333333;
  text-align: right;
  color: #131313;
}
@media screen and (min-width: 768px) {
  .footer__subject {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__subject {
    font-size: 16px;
  }
}

.footer__tel {
  text-decoration: none;
  font-family: "sans-serif";
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8333333333;
  text-align: right;
  color: #fcfcfc;
}
@media screen and (min-width: 768px) {
  .footer__tel {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__tel {
    font-size: 16px;
  }
}

.footer__border {
  margin-top: 40px;
  border-bottom: 1px solid #e1e1e1;
  border-width: 100%;
}

.footer__number {
  margin-top: 30px;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .footer__number {
    margin-top: 35px;
    padding-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__number {
    margin-top: 40px;
  }
}

.copy__text {
  margin: 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: #7a7a7a;
  text-align: center;
  padding: 20 0;
  white-space: pre-wrap;
}
@media screen and (min-width: 768px) {
  .copy__text {
    white-space: nowrap;
    padding: 12 0;
  }
}
@media screen and (min-width: 1200px) {
  .copy__text {
    font-size: 12px;
    border-top: 1px solid #E1E1E1;
    padding: 12px 0;
  }
}

.copy {
  background: #84a178;
}
@media screen and (max-width: 1199.07px) {
  .copy {
    border-top: 1px solid #E1E1E1;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__box {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .footer__box {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .footer__box {
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer__flex {
    margin-top: 35px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__flex {
    margin-top: 15px;
  }
}/*# sourceMappingURL=index.css.map */