@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  font-family: Montserrat, sans-serif;
  color: #fcfcfc;
  letter-spacing: 0.04em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  list-style-type: none;
  padding: 0;
}

.link {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.locations-franchise {
  justify-content: center;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .locations-franchise {
    display: flex;
    justify-content: center;
  }
}
.button-location {
  padding: 12px 42px;
  display: flex;
  align-items: center;
  background-color: #f8d24e;
  color: #131313;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  border-style: none;
}

.button-location:hover {
  background-color: #0a8817;
}

.button-location:focus {
  color: #ffffff;
}

.button-location:disabled {
  background-color: #ababab;
}

.button-franchise {
  padding: 12px 55px;
  display: flex;
  align-items: center;
  background-color: #84a178;
  color: #131313;
  border-radius: 10px;
  border: 2px solid;
  border-color: #f8d24e;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
}

.button-franchise:hover,
.button-franchise:focus {
  border-color: #0a8817;
}

.button-franchise:disabled {
  border-color: #ababab;
}

.overlay {
  /* Скрываем подложку  */
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  transition: 0.3s all;
}

.modal-footer {
  opacity: 0;
  visibility: hidden;
  width: 100vw;
  max-width: 280px;
  overflow-y: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 28px;
  background: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;
}
.modal-footer__cross {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 12px;
  right: 12px;
  fill: #131313;
  cursor: pointer;
  border: none;
  background-color: #fcfcfc;
}
@media screen and (min-width: 768px) {
  .modal-footer__cross {
    width: 24px;
    height: 24px;
  }
}
.modal-footer__title {
  margin-bottom: 22px;
  font-family: "Seymour One";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #131313;
}
@media screen and (min-width: 768px) {
  .modal-footer__title {
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    line-height: 1.4;
    width: 322px;
    align-items: center;
    justify-content: center;
  }
}
.modal-footer__text {
  margin-bottom: 22px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #131313;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .modal-footer__text {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .modal-footer {
    max-width: 568px;
    padding: 32px 60px;
  }
}
.form-franchise__input {
  padding: 8px 12px 7px 12px;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  background: rgba(248, 210, 78, 0.1);
  color: #131313;
  border: 1px solid #0a8817;
  border-radius: 10px;
  margin-bottom: 12px;
}

@media screen and (min-width: 768px) {
  .form-franchise {
    align-items: center;
    margin: auto;
    max-width: 368px;
  }
}
.textarea-franchise {
  padding: 8px 12px 7px 12px;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  background: rgba(248, 210, 78, 0.1);
  color: #131313;
  border: 1px solid #0a8817;
  border-radius: 10px;
  margin-bottom: 24px;
  resize: none;
}

.modal-map {
  margin-bottom: 24px;
}

.open-map__link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  color: #131313;
  padding: 12px 34px;
  margin-bottom: 0;
  background: #f8d24e;
  border-radius: 10px;
  border: none;
}

.button-submit {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  color: #131313;
  padding: 12px 34px;
  margin-bottom: 0;
  background: #f8d24e;
  border-radius: 10px;
  border: none;
}

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}/*# sourceMappingURL=index.css.map */