<p><a name="contact"></a></p>
<section class="contacts">
  <h2 class="visually-hidden">Contacts</h2>
  <div class="container">
    <div class="contact">
      <div class="contact__card contact__card--first">
        <button class="contact__button">CAFE</button>
        <div class="location">
          <ul class="list">
            <li class="contact__town">Chicago</li>
            <li>
              <a
                href="https://goo.gl/maps/5PVv9PkcLdwt774w8"
                target="_blank"
                rel="noreferrer noopener"
                class="link contact__address"
                >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
              >
            </li>
          </ul>
        </div>
        <div class="week">
          <ul class="list">
            <li class="contact__days">Monday - Friday</li>
            <li class="contact__time contact__time--first">
              06:00 AM - 10:00 PM
            </li>
            <li class="contact__days">Saturday - Sunday</li>
            <li class="contact__time">08:00 AM - 16:00 PM</li>
          </ul>
        </div>
        <div class="connect">
          <ul class="list">
            <li class="contact__links">
              <a
                class="contact__link link contact__link--first"
                href="tel:++61(0)383766284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="contact__links link">
              <a class="contact__link link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="contact__card contact__card--second">
        <button class="contact__button">FOODTRUCK</button>
        <div class="location">
          <ul class="list">
            <li class="contact__town">Los Angeles</li>
            <li class="">
              <a
                href="https://goo.gl/maps/rafNawfHAfzGHn3X7"
                target="_blank"
                rel="noreferrer noopener"
                class="link contact__address"
                >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
              >
            </li>
          </ul>
        </div>
        <div class="week">
          <ul class="list">
            <li class="contact__days">Monday - Friday</li>
            <li class="contact__time contact__time--first">
              06:00 AM - 10:00 PM
            </li>
            <li class="contact__days">Saturday - Sunday</li>
            <li class="contact__time">08:00 AM - 16:00 PM</li>
          </ul>
        </div>
        <div class="connect">
          <ul class="list">
            <li class="contact__links">
              <a
                class="contact__link link contact__link--first"
                href="tel:++61(0)383766284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="contact__links link">
              <a class="contact__link link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="contact__card contact__card--third">
        <button class="contact__button">CAFE</button>
        <div class="location">
          <ul class="list">
            <li class="contact__town">New York</li>
            <li class="">
              <a
                href="https://goo.gl/maps/fAvReBykMkm8Khg86"
                target="_blank"
                rel="noreferrer noopener"
                class="link contact__address"
                >726 Sterling Pl, Brooklyn, NY 11222, USA</a
              >
            </li>
          </ul>
        </div>
        <div class="week">
          <ul class="list">
            <li class="contact__days">Monday - Friday</li>
            <li class="contact__time contact__time--first">
              06:00 AM - 10:00 PM
            </li>
            <li class="contact__days">Saturday - Sunday</li>
            <li class="contact__time">08:00 AM - 16:00 PM</li>
          </ul>
        </div>
        <div class="connect">
          <ul class="list">
            <li class="contact__links">
              <a
                class="contact__link link contact__link--first"
                href="tel:++61(0)383766284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="contact__links link">
              <a class="contact__link link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
