<p><a name="contact"></a></p>
<section class="contacts">
  <h2 class="visually-hidden">Contacts</h2>
  <div class="container">
    <div class="contact">
      <ul class="contact__card list">
        <li></li>
        <li class="contact__town">Chicago</li>
        <li class="contact__address">
          10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
        </li>
        <li class="contact__line"></li>
        <li class="contact__days">Monday - Friday</li>
        <li class="contact__time contact__time--first">06:00 AM - 10:00 PM</li>
        <li class="contact__days">Saturday - Sunday</li>
        <li class="contact__time">08:00 AM - 16:00 PM</li>
        <li class="contact__line"></li>
        <li class="contact__links">
          <a
            class="contact__link link contact__link--first"
            href="tel:++61(0)383766284"
            >+61(0) 383 766 284</a
          >
        </li>
        <li class="contact__links">
          <a class="contact__link link" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
