<div class="container test"><!--  заглушка--></div>
<section class="customer-reviews">
  <div class="container">
    <div class="gallery">
      <picture
        ><!-- Desktop screen -->
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/gallery/desktop/img1@1x.jpg 1x,
            ./images/gallery/desktop/img1@2x.jpg 2x
          "
          type="image/jpg" />
        <!-- Tablet screen -->
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/gallery/tablet/img1@1x.jpg 1x,
            ./images/gallery/tablet/img1@2x.jpg 2x
          "
          type="image/jpg" />
        <!-- Mobile screen -->
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/gallery/mobile/img1@1x.jpg 1x,
            ./images/gallery/mobile/img1@2x.jpg 2x
          "
          type="image/jpg" />
        <img
          class="gallery_img"
          src="./images/gallery/mobile/img1@1x.jpg"
          alt="ice-creams"
          loading="lazy"
      /></picture>
    </div>

    <div class="customers">
      <ul class="customer list">
        <li>
          <picture
            ><!-- Desktop screen -->
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/customer-reviews/desktop/img1@1x.jpg 1x,
                ./images/customer-reviews/desktop/img1@2x.jpg 2x
              "
              type="image/jpg" />
            <!-- Tablet screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/customer-reviews/tablet/img1@1x.jpg 1x,
                ./images/customer-reviews/tablet/img1@2x.jpg 2x
              "
              type="image/jpg" />
            <!-- Mobile screen -->
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/customer-reviews/mobile/img1@1x.jpg 1x,
                ./images/customer-reviews/mobile/img1@2x.jpg 2x
              "
              type="image/jpg" />
            <img
              class="customer_img"
              src="./images/customer-reviews/mobile/img1@1x.jpg"
              alt="Emily, Los Angeles"
              loading="lazy"
          /></picture>
        </li>
        <li class="customer_review">
          <p class="customer_review--mobile">
            I love visiting your cafe. You prepare the most delicious ice cream
            in Los Angeles! In addition, you have beautiful serving, cozy
            atmosphere and polite staff.
          </p>
        </li>
        <li class="customer_name">Emily, Los Angeles</li>
        <li class="">
          <img
            class="customer_dots"
            src="./images/customer-reviews/mobile/dots@1x.png"
            alt=""
          />
        </li>
      </ul>
    </div>
  </div>
</section>
