<!-- header -->
    <header class="header">
      <div class="main-nav container">
        <a href="./index.html" class="logo header__logo link">
          <svg class="logo__icon" width="40" height="37">
            <use href="./images/sprite.svg#icon-logo"></use>
          </svg>
        </a>
        <!-- <nav>
          <ul class="site-nav list">
            <li class="site-nav__item">
              <a href="#" class="site-nav__link link">Контакти</a>
            </li>
            <li class="site-nav__item">
              <a href="#" class="site-nav__link link">Контакти</a>
            </li>
            <li class="site-nav__item">
              <a href="#" class="site-nav__link link">Контакти</a>
            </li>
          </ul>
        </nav> -->
        <button
          class="menu-toggle js-open-menu"
          aria-expanded="false"
          aria-controls="mobile-menu"
        >
          <svg class="menu-toggle__icon" width="32" height="32">
            <use href="./images/sprite.svg#icon-open-menu"></use>
          </svg>
      </div>
    </header>