<!-- header -->
    <header class="header">
      <div class="main-nav container">
        <a href="./index.html" class="logo header__logo link">
          <!-- <svg class="logo__icon" width="40" height="37">
            <use href="./images/sprite.svg#icon-logo"></use>
          </svg> -->
          <!-- <picture class="logo"-icon>
            <source srcset="./images/sprite.svg#icon-logo" media="(min-width: 480px)">
            <source srcset="./images/logo-tablet.svg" media="(min-width: 768px)">
            <source srcset="./images/logo-desktop.svg" media="(min-width: 1200px)">
            <img src="./images/logo.png"
              width="40"
              height="37"
              alt="logo">
          </picture> -->
          <img
                srcset="
                ./images/logo_40.png 40w,
                ./images/logo_80.png 80w,
                ./images/logo_48.png 48w,
                ./images/logo_96.png 96w,
                ./images/logo_60.png 60w,
                ./images/logo_120.png 120w
                "
                sizes="(min-width: 1200px) 60px, (min-width: 768px) 48px, (max-width: 767px) 40px, 100vw"
                src="./images/logo_40.png"
                alt="logo"
              />
        </a>
        <!-- <nav>
          <ul class="site-nav list">
            <li class="site-nav__item">
              <a href="#" class="site-nav__link link">Контакти</a>
            </li>
            <li class="site-nav__item">
              <a href="#" class="site-nav__link link">Контакти</a>
            </li>
            <li class="site-nav__item">
              <a href="#" class="site-nav__link link">Контакти</a>
            </li>
          </ul>
        </nav> -->
        <button
          class="menu-toggle js-open-menu"
          aria-expanded="false"
          aria-controls="mobile-menu"
        >
          <svg class="menu-toggle__icon" width="32" height="32">
            <use href="./images/sprite.svg#icon-open-menu"></use>
          </svg>
        </button>
        <button type="button" class="header__button" data-modal-open>
            <span>Buy now</span>
            <svg class="button-arrow__icon" width="12" height="12">
              <use href="./images/sprite.svg#icon-button-arrow"></use>
            </svg>
        </button>
      </div>
    </header>