<section class="hero" id="hero" >
    <div class="container">
        <div class="hero-title">
            <h1 class="hero-title__text">ice cream made with <span>passion</span></h1>
            <a href="#products"><button class="hero-title__button" type="button">Products</button></a>
            <a href="#how-its-made" class="hero-title__href">How it’s made?</a>
        </div>
        <div class="hero-icecream">
            <img src="./images/icecreamlefthero.png" alt="" class="hero-icecream__img">
            <p class="hero-icecream__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et  
                <svg width="40px" height="16px" class="hero-icecream__arrow">
                    <use href="./images/sprite.svg#icon-arrow">
                </svg>
            </p>
        </div>
        <ul class="hero-sub">
            <li class="hero-sub__number">16</li>
            <li class="hero-sub__place">cafes</li>
            <li class="hero-sub__number">23</li>
            <li class="hero-sub__place">food trucks</li>
        </ul>
        <div class="hero-background"></div>
        <div class="hero-mainice">
            <img class="hero-mainice__desktop" src="./images/desktop.png" alt="">
            <img class="hero-mainice__tablet" src="./images/tablet.png" alt="">
            <img class="hero-mainice__mobile" src="./images/mobile.png" alt="">
        </div>

    </div>
</section>
