<div class="modal" data-modal="3">
    <button class="modal__close js-modal-close"><svg class="modal__close-icon" width="24" height="24">
        <use href="./images/sprite.svg#icon-close"></use>
    </svg></button>
    <h2 class="modal__title">Chololate icecream</h2>
    <div class="modal-photo"><img
        srcset="./images/ingredients/ingredients-1-132.png 1x, ./images/ingredients/ingredients-1-264.png 2x" 
        src="./images/ingredients/ingredients-1-132.png" class="modal__image" alt="icecream"></div>
    <ul class="modal__calories">
        <li class="calories__item"><div class="calories__weight">320</div><div clas="calories__components">kcal</div> </li>
        <li class="calories__item"><div class="calories__weight">4g</div><div clas="calories__components">Prote...</div></li>
        <li class="calories__item"><div class="calories__weight">8,2g </div><div clas="calories__components">Fats</div></li>
        <li class="calories__item"><div class="calories__weight">40,4g </div><div clas="calories__components">Carbs</div></li>
    </ul>
    <h3 class="ingredients__title">Ingredients</h3>
    <ul class="ingredients__list">
        <li class="ingredients__item"><p>Milk</p>
        <p>100ml</p></li>
        <li class="ingredients__item"><p>Belgian chocolate</p>
        <p>20g</p></li>
        <li class="ingredients__item"><p>Cream</p>
        <p>150 ml</p></li>
        <li class="ingredients__item"><p>Cocoa powder</p>
        <p> 30g</p></li>
        <li class="ingredients__item"><p>Sugar</p>
        <p>40g</p></li>
        <li class="ingredients__item"><p>Vanilla sugar</p>
        <p>10g</p></li>
    </ul>
    <form name="form-order" class="modal__form"> 
        <div class="modal__wrapper"><input name="user-name" id="user-name" type="text" class="modal__input" placeholder="Name">
        </div>
        <div class="modal__wrapper"><input name="user-tel" id="user-tel" type="tel" class="modal__input" placeholder="Phone">
        </div>
        <textarea name="user-text" id="user-text" placeholder="Coment" cols="30" rows="10"
            class="modal__textarea"></textarea>
        <button type="submit" class="modal__button">Submit</button>
    </form>
 </div>
 
 <div class="modal" data-modal="4">
    <button class="modal__close js-modal-close"><svg class="modal__close-icon" width="24" height="24">
        <use href="./images/sprite.svg#icon-close"></use>
    </svg></button>
    <h2 class="modal__title">Ice latte</h2>
    <div class="modal-photo"><img 
        srcset="./images/ingredients/ingredients-2-132.png 1x, ./images/ingredients/ingredients-2-264.png 2x"
        src="./images/ingredients/ingredients-2-132.png" class="modal__image image-fourth" alt="icelatte"></div>
    <ul class="modal__calories">
        <li class="calories__item calories__item-fourth"><div class="calories__weight calories__weight-fourth">320</div><div clas="calories__components">kcal</div> </li>
        <li class="calories__item calories__item-fourth"><div class="calories__weight calories__weight-fourth">4g</div><div clas="calories__components">Prote...</div></li>
        <li class="calories__item calories__item-fourth"><div class="calories__weight calories__weight-fourth">8,2g </div><div clas="calories__components">Fats</div></li>
        <li class="calories__item calories__item-fourth"><div class="calories__weight calories__weight-fourth">40,4g </div><div clas="calories__components">Carbs</div></li>
    </ul>
    <h3 class="ingredients__title">Ingredients</h3>
    <ul class="ingredients__list">
        <li class="ingredients__item"><p>Milk</p>
        <p>100ml</p></li>
        <li class="ingredients__item"><p>Belgian chocolate</p>
        <p>20g</p></li>
        <li class="ingredients__item"><p>Cream</p>
        <p>150 ml</p></li>
        <li class="ingredients__item"><p>Cocoa powder</p>
        <p> 30g</p></li>
        <li class="ingredients__item"><p>Sugar</p>
        <p>40g</p></li>
        <li class="ingredients__item"><p>Vanilla sugar</p>
        <p>10g</p></li>
    </ul>
    <form name="form-order" class="modal__form"> 
        <div class="modal__wrapper"><input name="user-name" id="user-name" type="text" class="modal__input modal-fourth" placeholder="Name">
        </div>
        <div class="modal__wrapper"><input name="user-tel" id="user-tel" type="tel" class="modal__input modal-fourth" placeholder="Phone">
        </div>
        <textarea name="user-text" id="user-text" placeholder="Coment" cols="30" rows="10"
            class="modal__textarea modal-fourth"></textarea>
        <button type="submit" class="modal__button">Submit</button>
    </form>
 </div>
 <div class="modal" data-modal="5">
    <button class="modal__close js-modal-close"><svg class="modal__close-icon" width="24" height="24">
        <use href="./images/sprite.svg#icon-close"></use>
    </svg></button>
    <h2 class="modal__title">Vanilla milkshake</h2>
    <div class="modal-photo"><img 
        srcset="./images/ingredients/ingredients-3-132.png 1x, ./images/ingredients/ingredients-3-264.png 2x"
        src="./images/ingredients/ingredients-3-132.png" class="modal__image image-fifth" alt="milkshake"></div>
    <ul class="modal__calories">
        <li class="calories__item calories__item-fifth"><div class="calories__weight calories__weight-fifth">320</div><div clas="calories__components">kcal</div> </li>
        <li class="calories__item calories__item-fifth"><div class="calories__weight calories__weight-fifth">4g</div><div clas="calories__components">Prote...</div></li>
        <li class="calories__item calories__item-fifth"><div class="calories__weight calories__weight-fifth">8,2g </div><div clas="calories__components">Fats</div></li>
        <li class="calories__item calories__item-fifth"><div class="calories__weight calories__weight-fifth">40,4g </div><div clas="calories__components">Carbs</div></li>
    </ul>
    <h3 class="ingredients__title">Ingredients</h3>
    <ul class="ingredients__list">
        <li class="ingredients__item"><p>Milk</p>
        <p>100ml</p></li>
        <li class="ingredients__item"><p>Belgian chocolate</p>
        <p>20g</p></li>
        <li class="ingredients__item"><p>Cream</p>
        <p>150 ml</p></li>
        <li class="ingredients__item"><p>Cocoa powder</p>
        <p> 30g</p></li>
        <li class="ingredients__item"><p>Sugar</p>
        <p>40g</p></li>
        <li class="ingredients__item"><p>Vanilla sugar</p>
        <p>10g</p></li>
    </ul>
    <form name="form-order" class="modal__form"> 
        <div class="modal__wrapper"><input name="user-name" id="user-name" type="text" class="modal__input modal-fifth" placeholder="Name">
        </div>
        <div class="modal__wrapper"><input name="user-tel" id="user-tel" type="tel" class="modal__input modal-fifth" placeholder="Phone">
        </div>
        <textarea name="user-text" id="user-text" placeholder="Coment" cols="30" rows="10"
            class="modal__textarea modal-fifth"></textarea>
        <button type="submit" class="modal__button">Submit</button>
    </form>
 </div>
 <!-- Подложка под модальным окном -->
 <div class="overlay js-overlay-modal"></div>