<!-- Элементы для вызова модальных окон, могут быть любые -->
<!-- locations-franchise -->
<div class="locations-franchise">
  <button type="button" class="button-location js-open-modal" data-modal="4">
    Our Locations
    <svg class="" width="12" height="12">
      <use href="./images/sprite.svg#icon-button-arrow"></use>
    </svg>
  </button>
  <button type="button" class="button-franchise js-open-modal" data-modal="5">
    Franchise
    <svg class="" width="12" height="12">
      <use href="./images/sprite.svg#icon-button-arrow"></use>
    </svg>
  </button>
</div>

<!-- <button data-modal-open type="button" class="button">Замовити послугу</button> -->

<!-- modal-locations -->
<div class="modal modal-footer" data-modal="4">
  <button class="modal-footer__cross js-modal-close">
    <svg class="modal-footer__icon" width="20" height="20">
      <use href="./images/sprite.svg#icon-close"></use>
    </svg>
  </button>
  <h3 class="modal-footer__title">Our Locations</h3>
  <picture>
    <!-- Tablet screen Desktop screen -->
    <source
      media="(min-width: 768px)"
      srcset="./images/map-desk.webp 1x, ./images/map-desk@2x.webp 2x"
      type="image/webp"
    />
    <source
      media="(min-width: 768px)"
      srcset="./images/map-desk.jpg 1x, ./images/map-desk@2x.jpg 2x"
      type="image/jpg"
    />
    <!-- Mobile screen -->
    <source
      media="(max-width: 768px)"
      srcset="./images/map-mob.webp 1x, ./images/map-mob@2x.webp 2x"
      type="image/webp"
    />
    <source
      media="(max-width: 768px)"
      srcset="./images/map-mob.jpg 1x, ./images/map-mob@2x.jpg 2x"
      type="image/jpg"
    />
    <img
      class="modal-map"
      src="./images/map-mob.jpg"
      alt="Ноутбук"
      width="450"
      height="294"
      loading="lazy"
    />
  </picture>

  <a
    class="open-map__link link"
    href="https://goo.gl/maps/VCjokpn6cVn6QoZP7"
    target="_blank"
    rel="noopener noreferrer nofollow"
    >Open map</a
  >
</div>

<!-- modal-franchise -->
<div class="modal modal-footer" data-modal="5">
  <button class="modal-footer__cross js-modal-close">
    <svg class="modal-footer__icon" width="20" height="20">
      <use href="./images/sprite.svg#icon-close"></use>
    </svg>
  </button>
  <h3 class="modal-footer__title">
    Thank you for your interest in owning an Ice Cream shop
  </h3>
  <p class="modal-footer__text">
    Due to the overwhelming volume of franchise requests we are not accepting
    new franchisee applications at this time. Once the application process
    resumes, we will contact you for further information. Please fill out the
    contact information below and we will reach out for additional information.
    We appreciate your patience.
  </p>
  <form class="form-franchise">
    <label for="name" class="form-franchise__label"></label>
    <input
      type="text"
      class="form-franchise__input"
      name="name"
      id="name"
      placeholder="Name"
      pattern="(?=.*[a-z])(?=.*[A-Z]).{2,}"
      title="The password cannot be less than two characters and must contain at least one lowercase and one uppercase Latin letter."
    />

    <label for="tel" class="form-franchise__label"></label>
    <input
      type="tel"
      class="form-franchise__input"
      name="phone"
      id="tel"
      placeholder="Phone"
      pattern="(?=.*\d).{13,}"
      title="Password cannot be
    less than thirteen characters."
    />

    <label for="mail" class="form-franchise__label"></label>
    <input
      type="email"
      class="form-franchise__input"
      name="email"
      id="mail"
      placeholder="Email"
      pattern=".+@icecream\.com"
      title="Please provide only a Best Startup Ever corporate email address"
    />

    <label for="comment" class="form-franchise__label"></label>
    <textarea
      class="textarea-franchise"
      name="textarea"
      id="comment"
      rows="3"
      placeholder="Comment"
    ></textarea>

    <button type="submit" class="button-submit">Submit</button>
  </form>
</div>

<!-- Подложка под модальным окном -->
<div class="overlay js-overlay-modal"></div>
