<!-- СЕКЦІЯ PRODUCTS -->
<section class="product">
  <div class="container">
    <p class="product__text">100% natural</p>
    <h2 class="product__pretitle">products</h2>
    <ul class="prodcard">
      <li class="prodcard__item item__icecream">
        <h3 class="prodcard__title">ice cream</h3>
        <p class="prodcard__text">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <button
          type="button"
          class="prodcard__svg js-open-modal"
          data-modal="3"
        >
          <svg class="prodcard__iconarrow" width="40" height="16">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="prodcard__item item__icecoffee">
        <h3 class="prodcard__title">ice coffee</h3>
        <p class="prodcard__text">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <button
          type="button"
          class="prodcard__svg js-open-modal"
          data-modal="4"
        >
          <svg class="prodcard__iconarrow" width="40" height="16">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="prodcard__item item__milkshakes">
        <h3 class="prodcard__title">milkshakes</h3>
        <p class="prodcard__text">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <button
          type="button"
          class="prodcard__svg js-open-modal"
          data-modal="5"
        >
          <svg class="prodcard__iconarrow" width="40" height="16">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
