<section class="team" data-slider="customer-slider">
  <div class="container">
    <h2 class="section-title team__title">WHAT OUR COSTUMER’S SAY</h2>
    <div class="swiper team__slider">
      <ul class="swiper-wrapper">
        <li class="swiper-slide team__item">
          <img
            src="./images/gallery/desktop/img1@1x.jpg"
            alt="team member"
            class="team__img"
          />
          <h3 class="team__name">Jon Doe</h3>
          <p class="team__position">Company Inc.</p>
          <div class="team__desc">
            <p>
              Vestibulum placerat nisl quis justo venenatis, et lacinia nunc
              venenatis. semper libero nec sapien condimentum dignissim. Nunc
              ante ligula, tempor in tellus in, gravida vestibulum justo. Nulla
              facilisi. Nullam tristique eros quis nibh tempus, vel viverra
              dolor pretium. Nam et vehicula leo. Vivamus hendrerit sit amet
              ante a tempus. Aenean gravida massa et ante pulvinar, id
            </p>
          </div>
        </li>
        <li class="swiper-slide team__item">
          <img
            src="./images/gallery/desktop/img2@2x.jpg"
            alt="team member"
            class="team__img"
          />
          <h3 class="team__name">Jon Doe</h3>
          <p class="team__position">Company Inc.</p>
          <div class="team__desc">
            <p>
              Vestibulum placerat nisl quis justo venenatis, et lacinia nunc
              venenatis. semper libero nec sapien condimentum dignissim. Nunc
              ante ligula, tempor in tellus in, gravida vestibulum justo. Nulla
              facilisi. Nullam tristique eros quis nibh tempus, vel viverra
              dolor pretium. Nam et vehicula leo. Vivamus hendrerit sit amet
              ante a tempus. Aenean gravida massa et ante pulvinar, id
            </p>
          </div>
        </li>
        <li class="swiper-slide team__item">
          <img
            src="./images/gallery/desktop/img3@1x.jpg"
            alt="team member"
            class="team__img"
          />
          <h3 class="team__name">Jon Doe</h3>
          <p class="team__position">Company Inc.</p>
          <div class="team__desc">
            <p>
              Vestibulum placerat nisl quis justo venenatis, et lacinia nunc
              venenatis. semper libero nec sapien condimentum dignissim. Nunc
              ante ligula, tempor in tellus in, gravida vestibulum justo. Nulla
              facilisi. Nullam tristique eros quis nibh tempus, vel viverra
              dolor pretium. Nam et vehicula leo. Vivamus hendrerit sit amet
              ante a tempus. Aenean gravida massa et ante pulvinar, id
            </p>
          </div>
        </li>
        <li class="swiper-slide team__item">
          <img
            src="./images/customer-reviews/desktop/img1@1x.jpg"
            alt="team member"
            class="team__img"
          />
          <h3 class="team__name">Jon Doe</h3>
          <p class="team__position">Company Inc.</p>
          <div class="team__desc">
            <p>
              Vestibulum placerat nisl quis justo venenatis, et lacinia nunc
              venenatis. semper libero nec sapien condimentum dignissim. Nunc
              ante ligula, tempor in tellus in, gravida vestibulum justo. Nulla
              facilisi. Nullam tristique eros quis nibh tempus, vel viverra
              dolor pretium. Nam et vehicula leo. Vivamus hendrerit sit amet
              ante a tempus. Aenean gravida massa et ante pulvinar, id
            </p>
          </div>
        </li>
        <li class="swiper-slide team__item">
          <img
            src="./images/gallery/desktop/img2@1x.jpg"
            alt="team member"
            class="team__img"
          />
          <h3 class="team__name">Jon Doe</h3>
          <p class="team__position">Company Inc.</p>
          <div class="team__desc">
            <p>
              Vestibulum placerat nisl quis justo venenatis, et lacinia nunc
              venenatis. semper libero nec sapien condimentum dignissim. Nunc
              ante ligula, tempor in tellus in, gravida vestibulum justo. Nulla
              facilisi. Nullam tristique eros quis nibh tempus, vel viverra
              dolor pretium. Nam et vehicula leo. Vivamus hendrerit sit amet
              ante a tempus. Aenean gravida massa et ante pulvinar, id
            </p>
          </div>
        </li>
        <li class="swiper-slide team__item">
          <img
            src="./images/gallery/desktop/img3@2x.jpg"
            alt="team member"
            class="team__img"
          />
          <h3 class="team__name">Jon Doe</h3>
          <p class="team__position">Company Inc.</p>
          <div class="team__desc">
            <p>
              Vestibulum placerat nisl quis justo venenatis, et lacinia nunc
              venenatis. semper libero nec sapien condimentum dignissim. Nunc
              ante ligula, tempor in tellus in, gravida vestibulum justo. Nulla
              facilisi. Nullam tristique eros quis nibh tempus, vel viverra
              dolor pretium. Nam et vehicula leo. Vivamus hendrerit sit amet
              ante a tempus. Aenean gravida massa et ante pulvinar, id
            </p>
          </div>
        </li>
      </ul>

      <ul class="swiper-pagination team__pagination"></ul>
    </div>
  </div>
</section>

<!-- слайдер -->
